PORT=3000

# Dùng MongoDB local:
MONGODB_URI=mongodb://localhost:27017/nhom6_students

# Hoặc dùng MongoDB Atlas:
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/nhom6_students?retryWrites=true&w=majority
